
  .white-text {
    color: white;
  }

  .bordered-area {
    border: 1px solid black;
    padding: 10px;
    margin-left: 310px;
    margin-right: 300px;
  }
  .tick-image {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    margin-right: 5px; /* Add spacing between the image and the paragraph */
  }

  .custom-container {
    margin-top: 100px;
    margin-left: 300px;
  }
  .dropdown-menu {
    background-color: #f8f9fa;
  }
  .dropdown-menu {
    background-color: #870c1f; 
  }
  .long-button {
    width: 350px; 
  }
  .button-with-paragraph {
    display: flex;
    align-items: center;
  }

  .button-with-paragraph p {
    margin-right: 40px; 
  }
