
  .white-text {
    color: white;
  }

  .bordered-area {
    border: 1px solid black;
    padding: 10px;
    margin-left: 310px;
    margin-right: 300px;
  }
  .tick-image {
    width: 20px; 
    height: 20px; 
    margin-right: 5px; 
  }

  .custom-container {
    margin-top: 100px;
    margin-left: 300px;
  }
  .dropdown-menu {
    background-color: #f8f9fa;
  }
  .dropdown-menu {
    background-color: #870c1f; 
  }
  .long-button {
    width: 350px; 
  }
  .button-with-paragraph {
    display: flex;
    align-items: center;
  }

  .button-with-paragraph p {
    margin-right: 40px; 
  }

  .card-img-top {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    width: 200px;
    height: auto;
  }
  
  .card-text {
    padding: 1rem;
  }
  
  .card {
    border: none;
    box-shadow: none;
  }
  .card-deck {
    justify-content: center;
  }

  hr.divider {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 350px;
    margin-right: 340px;
    border: none;
    border-top: 1px solid #000000; /* Customize the color and style of the divider */
  }
